<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
   <title> practice </title>
</head>


<body class="body">
	<div>
		<h3>Your favorite language ? </h3>
		<form>
			<input type=text size=5 name=proglang>

			<a href='#' id=process_input><button class='button btn-default'> Submit </button> </a>
		</form>

	<p></p>

	</div>

</body>

</html>